<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:insert="basicFragments :: headerFrag"></div>
    <title>Detail</title>
</head>

<body>
<div class="jumbotron">
    <h1 class="display-4" name="title">Message Detail</h1><br/>
    <a href="/" class="btn btn-outline-dark btn-lg">
        <span class="glyphicon glyphicon-remove"></span>Close</a>
</div>
<div class="card bg-light mb-3" style="width: 100%">
    <div class="card-body">
        <div class="row">
            <div class="col-3">Title:</div>
            <div class="col-9"><p th:text="${onemsg.title}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Content:</div>
            <div class="col-9"><p th:text="${onemsg.content}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Posted Date:</div>
            <div class="col-9"><p th:text="${onemsg.postedDate}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Posted By:</div>
            <div class="col-9"><p th:text="${onemsg.postedBy}"></p></div>
        </div>
    </div>
</div>

<div th:insert="basicFragments :: copyFrag"></div>
<div th:insert="basicFragments :: scriptFrag"></div>

</body>
</html>