<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Detail</title>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="basicstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/basicstyle.css">
</head>

<body>
<div class="jumbotron">
    <h1 class="display-4" name="title">Message Detail</h1><br/>
    <a href="/" class="btn btn-outline-dark btn-lg">
        <span class="glyphicon glyphicon-remove"></span>Close</a>
</div>
<div class="card bg-light mb-3" style="width: 100%">
    <div class="card-body">
        <div class="row">
            <div class="col-3">Title:</div>
            <div class="col-9"><p th:text="${onemsg.title}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Content:</div>
            <div class="col-9"><p th:text="${onemsg.content}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Posted Date:</div>
            <div class="col-9"><p th:text="${onemsg.postedDate}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Posted By:</div>
            <div class="col-9"><p th:text="${onemsg.postedBy}"></p></div>
        </div>
    </div>
</div>

<!--<div th:replace="basicFragment :: scriptFrag"></div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>