<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head>
    <title>List</title>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="basicstyle.css">


</head>


<body>
<div class="jumbotron">
    <h1 class="display-4" name="title">All Messages</h1><br/>
    <a href="/add" class="btn btn-outline-dark btn-lg">
        <span class="glyphicon glyphicon-plus"></span>New</a>
</div>

<br/>
<table>
    <tr style="width: 100%">
        <th>Title</th>
        <th>Posted Date</th>
        <th>Posted By</th>
        <th>Action</th>
    </tr>
    <tr th:each="item : ${allmsg}">
        <td th:text="${item.title}"></td>
        <td th:text="${item.postedDate}"></td>
        <td th:text="${item.postedBy}"></td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="glyphicon glyphicon-edit">
                    <a th:href="@{/update/{id}(id=${item.id})}">
                        Update</a></button>
                <button type="button" class="glyphicon glyphicon-edit">
                    <a th:href="@{/detail/{id}(id=${item.id})}">
                        Detail</a></button>
                <button type="button" class="glyphicon glyphicon-trash">
                    <a th:href="@{/delete/{id}(id=${item.id})}">
                        Delete</a></button>
            </div>
        </td>
    </tr>
</table>

<!--<div th:replace="basicFragment :: scriptFrag"></div>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>